* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* nav */
#navbar {
  position: fixed;
  top: -130px;
  width: 100%;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}

#navbar a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.header .cntnr-hdr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: solid 2px #aaa;
  padding-left: 20px;
}

.logo {
  font-weight: 100;
}

.header nav ul {
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline-block;
  font-weight: 200;
  text-align: center;
}

.header nav ul li:hover {
  cursor: pointer;
}

nav ul li a {
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}

.dropdown li {
  padding: 14px;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  font-size: 13px;
  font-weight: 200;
  text-align: left;
  text-transform: uppercase;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

/* hamburger */
.hamburger {
  display: none;
}

@media (max-width: 730px) {
  .hamburger {
    display: block;
  }

  #navbar {
    overflow: visible;
  }

  .header nav {
    position: absolute;
    top: 47px;
    left: -150px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 15px;
    transition: transform 1s;
  }

  .header nav.open {
    transform: translateX(100%);
  }

  .header nav ul li {
    display: block;
    margin-left: 0;
  }

  /* 
  .dropdown:hover .dropdown-content {
    background-color: white;
  } */
}
/* end nav */

/* video */
.videoFrame {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-bottom: 30px;
  z-index: 1;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /* padding-top: 25px; */
  height: 0;
  z-index: -1;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hero image */
.hero {
  width: 100%;
  max-width: 100%;
  height: 600px;
  position: relative;
}

.heroimage {
  width: 100%;
  height: 600px;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.herotext {
  width: 50%;
  height: auto;
  top: 20%;
  left: 25%;
  margin-top: 20px;
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.herotext h1 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 100;
}

.herotext p {
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
  font-size: 13px;
  font-weight: 300;
}

@media (min-width: 900px) {
  .heroimage {
    width: 120%;
    margin-left: -20%;
  }
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* slider */

.cntnr-caro {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 40px 40px;
  border-bottom: solid 2px #aaa;
}

.slick-arrow {
  display: none;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slick-dots button {
  display: none;
}

.slick-dots li {
  height: 10px;
  width: 10px;
  background-color: #aaa;
  display: inline-block;
  border-radius: 50%;
  margin: 0 10px;
}

.slick-dots li:hover {
  cursor: pointer;
}

.slick-dots .slick-active {
  background-color: #777;
}

.myCarousel {
  position: relative;
}

.caro-img {
  width: 375px;
  height: 464px;
  padding: 40px;
}

.zoom-img {
  display: inline-block;
  padding: 10px;
  transition: transform 0.2s;
  /* Animation */
  margin: 0 auto;
}

.zoom-img:hover {
  transform: scale(0.95, 0.95);
}

/* footer */
.footer {
  color: #000;
  background-color: #fff;
  padding: 45px 20px;
  text-align: center;
}

.footer nav ul {
  padding: 0;
}

.footer nav ul li {
  display: inline-block;
  font-size: 25px;
  margin: 0 5px;
}

.footer a {
  color: #000;
}

.zoom {
  display: inline-block;
  padding: 10px;
  transition: transform 0.2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25); /* (125% zoom)*/
}

button {
  border: none;
  background-color: transparent;
  font-size: 12px;
}

.ftrbtn {
  padding: 15px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.popup_mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}
.open .popup_mask {
  opacity: 1;
}
.popup_box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  object-fit: cover;
  width: 90%;
  max-width: 650px;
  padding: 25px;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.4s, opacity 0.3s;
}
.open .popup_box {
  opacity: 1;
  transform: translateY(0);
}
.popup_close {
  float: right;
  cursor: pointer;
  font-weight: 200;
}

.popup_box h4 {
  font-weight: 200;
  padding: 10px;
}
