* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* nav */
#navbar {
  position: fixed;
  top: -130px;
  width: 100%;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}

#navbar a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.header .cntnr-hdr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: solid 2px #aaa;
  padding-left: 20px;
}

.logo {
  font-weight: 100;
}

.header nav ul {
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline-block;
  font-weight: 200;
  text-align: center;
}

.header nav ul li:hover {
  cursor: pointer;
}

nav ul li a {
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}

.dropdown li {
  padding: 14px;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  font-size: 13px;
  font-weight: 200;
  text-align: left;
  text-transform: uppercase;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

/* hamburger */
.hamburger {
  display: none;
}

@media (max-width: 730px) {
  .hamburger {
    display: block;
  }

  #navbar {
    overflow: visible;
  }

  .header nav {
    position: absolute;
    top: 47px;
    left: -150px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 15px;
    transition: transform 1s;
  }

  .header nav.open {
    transform: translateX(100%);
  }

  .header nav ul li {
    display: block;
    margin-left: 0;
  }

  .dropdown:hover .dropdown-content {
    background-color: white;
  }
}
/* end nav */

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* hero image */
.main-image1 {
  background: url(../images/IMG_0183.jpeg) no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
}

.main-image2 {
  background: url(../images/IMG_0164.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
}

/* collection */

/* description */
.clx-about {
  background-color: #eee;
  padding: 20px 0;
}

/* images */
.cntnr-portfolio {
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px 20px;
  border-bottom: solid 2px #000;
}

h2,
h6 {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 200;
  text-transform: uppercase;
}

.description p {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
  font-weight: 300;
}

.collection img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* image detail popup */
.container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}

.open-pop {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .open-pop {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;

  display: none;
}

.popup_mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s;
}
.open .popup_mask {
  opacity: 1;
}

.popup_box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  max-width: 1300px;
  padding: 15px;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.4s, opacity 0.3s;
}

.popup_box h5 {
  font-weight: 200;
}

.popup_box p {
  font-weight: 200;
  font-size: 13px;
  margin: 0 auto;
}

.open .popup_box {
  opacity: 1;
  transform: translateY(0);
}
.popup_close {
  float: inline-start;
  cursor: pointer;
  font-weight: 200;
  font-size: small;
}
/* image detail popup end */

/* footer */
.footer {
  color: #000;
  padding: 45px 20px;
  text-align: center;
}

.footer nav ul {
  padding: 0;
}

.footer nav ul li {
  display: inline-block;
  font-size: 25px;
  margin: 0 5px;
}

.footer a {
  color: #000;
}

.zoom {
  display: inline-block;
  padding: 10px;
  transition: transform 0.2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25); /* (125% zoom)*/
}

button {
  border: none;
  background-color: transparent;
  font-size: 12px;
}

.ftrbtn {
  padding: 15px;
}

/* subscribe popup */
.pop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.pop_mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}
.open .pop_mask {
  opacity: 1;
}
.pop_box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  object-fit: cover;
  width: 90%;
  max-width: 650px;
  padding: 25px;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.4s, opacity 0.3s;
}
.open .pop_box {
  opacity: 1;
  transform: translateY(0);
}
.pop_close {
  float: right;
  cursor: pointer;
  font-weight: 200;
}

.pop_box h4 {
  font-weight: 200;
  padding: 10px;
}
